@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: darkblue;
  text-shadow: 5px 5px 5px goldenrod;
  padding: 5px;
  display: inline-block;
  font-family: "Bangers", serif;
}

.card-container {
  background-color: rgba(27, 27, 177, 0.6);
  min-height: 350px;
}

.player-card {
  height: 400px !important;
  overflow: hidden;
}

.player-card img {
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  filter: sepia(0.5);
}

.player-card img:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  filter: none;
}
