@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  color: darkblue;
  text-shadow: 5px 5px 5px goldenrod;
  padding: 5px;
  display: inline-block;
  font-family: "Bangers", serif;
}
